/* ProductCard.css */
.product-card {
    width: 22%;
    /* Puedes ajustar este valor para cambiar el ancho de las cards en pantallas grandes */
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card .card-title {
    font-size: 14px;
    /* Puedes ajustar este valor para cambiar el tamaño de la fuente del título */
    margin-bottom: 10px;
}

.product-card .card-text {
    font-size: 12px;
    /* Puedes ajustar este valor para cambiar el tamaño de la fuente del texto */
    color: #888;
    margin-bottom: 15px;
}

.product-card .btn {
    font-size: 12px;
    /* Puedes ajustar este valor para cambiar el tamaño de la fuente del botón */
}


