body {
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/small-16185-maseratiinternationalrally2019gleneagleshotel-maserati3500gt-1656950694.jpg?crop=1.00xw:0.753xh;0,0&resize=1200:*);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }